@font-face {
	font-family: "Open Sans";
	src: url("../ttf/OpenSans-Light.ttf");
	font-weight: 300;
}

@font-face {
	font-family: "Open Sans";
	src: url("../ttf/OpenSans-Regular.ttf");
	font-weight: 400;
}

html {
	font-size: 62.5%;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
	user-select: none;
	color: #777;
}

main {
	width: 800px;
	margin: 0 auto;
	box-sizing: border-box;;
}

input {
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	width: 100%;
	padding: 6px 4px;
	outline: none;
	box-sizing: border-box;
	border-radius: 2px;
}

input:focus {
	border-color: #666;
}

#log {
	padding: 6px 0;
	font-size: 1.1rem;
	text-align: right;
	color: #aaa;
}

section {
	margin: 24px 0;
}

nav {
	position: fixed;
	top: 24px;
	right: 24px;
	width: 32px;
	height: 32px;
	cursor: pointer;
}

#graphs {
	padding: 12px;
	box-sizing: border-box;
}