@font-face {
	font-family: "Open Sans";
	src: url("../ttf/OpenSans-Light.ttf");
	font-weight: 300;
}

@font-face {
	font-family: "Open Sans";
	src: url("../ttf/OpenSans-Regular.ttf");
	font-weight: 400;
}

html {
	font-size: 62.5%;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
	user-select: none;
	color: #777;
}

main {
	width: 800px;
	margin: 0 auto;
	box-sizing: border-box;
}

input {
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	background-color: #fff;
	width: 100%;
	padding: 6px 4px;
	outline: none;
	box-sizing: border-box;
	border-radius: 2px;
}

input:focus {
	border-color: #666;
}

#log {
	padding: 6px 0;
	font-size: 1.1rem;
	text-align: right;
	color: #aaa;
}

#graphs {
	padding: 12px;
	box-sizing: border-box;
}

#graphs.show section.pie {
	min-height: 500px;
}

#graphs.show section.bars:not(:last-of-type) {
	margin-bottom: 120px;
}

section {
	margin: 12px 0;
	box-sizing: border-box;
}

section h2 {
	margin: 0;
	padding: 0;
}

section.pie {
	position: relative;
}

section.bars ul,
section.pie ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

section.pie ul li {
	padding: 4px;
	margin: 0;
	border-left-width: 16px;
	border-style: solid;
	border-top: none;
	border-right: none;
	border-bottom: none;
	margin: 4px 0;
}

section.pie canvas {
	position: absolute;
	right: 0;
	top: 0;
	width: 400px;
	height: 400px;
}

section.bars ul li {
	position: relative;
	padding: 4px;
	margin: 4px 0;
	background-color: #eee;
	mix-blend-mode: difference;
}

section.bars ul li div {
	position: absolute;
	display: inline-block;
	left: 0;
	top: 0;
	height: 100%;
	width: 0;
	z-index: 1;
}

section.bars ul li span {
	display: inline-block;
	position: relative;
	z-index: 2;
	color: #fff;
	font-size: 1.4rem;
	mix-blend-mode: difference;
}

section.bars ul li span.value {
	float: right;
}

nav {
	position: fixed;
	top: 16px;
	right: 16px;
	font-size: 0;
}

nav a {
	cursor: pointer;
}

nav a svg {
	fill: #666;
	width: 48px;
	height: 48px;
}

nav a svg:hover {
	fill: #000;
}

nav #light {
	display: none;
}

body.dark {
	background-color: #222;
	color: #ccc;
}

body.dark nav #dark {
	display: none;
}

body.dark nav #light {
	display: inline-block;
}

body.dark nav a svg {
	fill: #aaa;
}

body.dark nav a svg:hover {
	fill: #fff;
}

body.dark input {
	border-color: #888;
	background-color: #333;
	color: #fff;
}

body.dark input:focus {
	border-color: #fff;
}

body.dark #graphs {
	background-color: #222;
}

body.dark section.bars ul li {
	background-color: #111;
	mix-blend-mode: screen;
	color: #000;
}